<div class="weather-app" [class]="changeBackground()">
    <div class="container" *ngIf="weather">
        <h3 class="brand">The Weather</h3>
        <div class="weather-time">
            <h1 class="temp">{{weather.main.temp}} °C</h1>
            <div class="weather-container">
                <div class="city-time">
                    <h1 class="name">{{weather.name}}</h1>
                    <small>
                    <span class="time">{{zone}}</span>
                </small>
                </div>
                <div class="weather">
                    <i class="iconWeather" [class]="changeIconWeather()"></i>
                    <span class="condition">{{weather.weather[0].main}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <h4 class="panel-title">Search Location</h4>
        <form (submit)="submitLocation(cityName, cityCode)" class="form-submit">
            <div id="cityName">
                <input type="text" class="search" placeholder="City Name" autofocus #cityName>
            </div>
            <div id="cityCode">
                <input type="text" class="search" placeholder="City Code" #cityCode>
            </div>
            <button type="submit" class="submit">
                <i class="fas fa-search "></i>
            </button>
        </form>
        <ul class="details">
            <h4>Weather Details</h4>
            <li>
                <span>Latitude</span>
                <span class="latitude">{{weather.coord.lat}}</span>
            </li>
            <li>
                <span>Longitude</span>
                <span class="longitude">{{weather.coord.lon}}</span>
            </li>
            <li>
                <span>Humidity</span>
                <span class="humidity">{{weather.main.humidity}}</span>
            </li>
            <li>
                <span>Pressure</span>
                <span class="pressure">{{weather.main.pressure}}</span>
            </li>
            <li>
                <span>Detailed Description</span>
                <span class="detailed-description">{{weather.weather[0].description}}</span>
            </li>
        </ul>
    </div>
</div>