<div class="weather-app">
    <div class="container">
        <h3 class="brand">The weather</h3>
        <div class="weather-time">
            <h1 class="temp">16</h1>
            <div class="city-time">
                <h1 class="name">London</h1>
                <small>
                    <span class="time">06:09</span>
                    <span class="date">Monday</span>
                </small>
            </div>
            <div class="weather">
                <img src="icon" alt="icon">
                <span class="condition">Cloudy</span>
            </div>
        </div>
    </div>
    <div class="panel">
        <h4 class="panel-title">Search Location</h4>
        <form (submit)="submitLocation(cityName, cityCode)" class="form-submit">
            <div id="cityName">
                <input type="text" class="search" placeholder="City Name" autofocus #cityName>
            </div>
            <div id="cityCode">
                <input type="text" class="search" placeholder="City Code" #cityCode>
            </div>
            <button type="submit" class="submit">
                <i class="fas fa-search ">as</i>
            </button>
        </form>
        <ul class="details">
            <h4>Weather Details</h4>
            <li>
                <span>Cloudy</span>
                <span class="cloud">59%</span>
            </li>
        </ul>
    </div>
</div>